<ion-view title="Dashboard" cache-view="false">
    <ion-header-bar class="bar-positive">
        <!--button class="button icon ion-chevron-left no-border" ng-click="myGoBack()"></button-->
        <h1 class="title">{{merchantName}}</h1>
        <!--button class="button icon ion-camera no-border" ng-click="showCamera()"></button-->
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="padding">
        <form name="addForm" id="addForm" ng-submit="addReview(addForm)" class="list card no-margin" novalidate="" >
            <ion-list>
                <ion-item class="item">
                    <input value="1" type="button" class="button button-small" ng-click="clickedReview(1, $event)">
                    <input value="1.5" type="button" class="button button-small" ng-click="clickedReview(1.5, $event)">
                    <input value="2" type="button" class="button button-small" ng-click="clickedReview(2, $event)">
                    <input value="2.5" type="button" class="button button-small" ng-click="clickedReview(2.5, $event)">
                    <input value="3" type="button" class="button button-small" ng-click="clickedReview(3, $event)">
                    <input value="3.5" type="button" class="button button-small" ng-click="clickedReview(3.5, $event)">
                    <input value="4" type="button" class="button button-small" ng-click="clickedReview(4, $event)">
                    <input value="4.5" type="button" class="button button-small" ng-click="clickedReview(4.5, $event)">
                    <input value="5" type="button" class="button button-small" ng-click="clickedReview(5, $event)">
                    <ion-input class="item item-input item-stacked-label" 
                               ng-class="{ 'has-errors' : addForm.rating.$invalid && addForm.$submitted, 
        'no-errors' : addForm.rating.$valid && addForm.$submitted}">
                        <input type="text" style="display:none" name="rating" id="rating" ng-model="data.rating" required />
                    </ion-input>

                    <div class="error-container" ng-show="addForm.rating.$error && addForm.$submitted" 
                         ng-messages="addForm.rating.$error">
                        <div class="error" ng-message="required">
                            <i class="ion-information-circled"></i> 
                            Please select your rating
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <ion-input class="item item-input item-stacked-label">
                <ion-label >Add Photos</ion-label>
                <div class="profile-pics">
                    <img id="image1"  ng-click="showCamera('image1')" src="img/file-add.png" />
                    <img id="image2"  ng-click="showCamera('image2')" src="img/file-add.png" />
                    <img id="image3"  ng-click="showCamera('image3')" src="img/file-add.png" />
                    <img id="image4"  ng-click="showCamera('image4')" src="img/file-add.png" />
                    <img id="image5"  ng-click="showCamera('image5')" src="img/file-add.png" />
                </div>
            </ion-input>
            <ion-input class="item item-input item-stacked-label" 
                       ng-class="{ 'has-errors' : addForm.review.$invalid && addForm.$submitted, 
        'no-errors' : addForm.review.$valid && addForm.$submitted}">
                <ion-label >Write your review</ion-label>
                <textarea name="review" ng-model="data.review" rows="5" required></textarea>
            </ion-input>

            <div class="error-container" ng-show="addForm.review.$error && addForm.$submitted" 
                 ng-messages="addForm.review.$error">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i> 
                    Please enter your review
                </div>
            </div>

            <ion-input class="item-input padding">
                <input type="submit" class="button button-positive" value="Save" 
                       ng-disabled="addForm.$invalid && addForm.$submitted">
            </ion-input>
        </form>
    </ion-content>
</ion-view>