<ion-view title="Dashboard" cache-view="false">
    <ion-header-bar class="bar-positive">
        <button class="button icon ion-chevron-left no-border" ng-click="myGoBack()"></button>
        <h1 class="title">{{data.name}}</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="padding">
        <form name="addForm" id="addForm" ng-submit="submitForm(addForm)" class="list card no-margin" novalidate="" >
            <ion-list>
                <ion-item class="item">
                    <div class="item-avatar">
                        <img id="image" src="img/profile.jpg" class="avtar-custom" />
                    </div>
                    <button type="button" class="button icon ion-edit top-corner" ng-click="showCamera('image')"></button>
                </ion-item>
            </ion-list>
            <ion-input class="item item-input item-stacked-label" 
                       ng-class="{ 'has-errors' : addForm.name.$invalid && addForm.$submitted, 
        'no-errors' : addForm.name.$valid && addForm.$submitted}">
                <ion-label >Name</ion-label>
                <input type="text" name="name" ng-model="data.name" required>
            </ion-input>

            <div class="error-container" ng-show="addForm.name.$error && addForm.$submitted" 
                 ng-messages="addForm.name.$error">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i> 
                    Please enter name
                </div>
            </div>

            <ion-input class="item item-input item-stacked-label" 
                       ng-class="{ 'has-errors' : addForm.phone_number.$invalid && addForm.$submitted, 
        'no-errors' : addForm.phone_number.$valid && addForm.$submitted}">
                <ion-label class="float-left width-90">Contact</ion-label>
                <input type="tel" name="phone_number" ng-model="data.contact" required>
            </ion-input>

            <div class="error-container" ng-show="addForm.phone_number.$error && addForm.$submitted" 
                 ng-messages="addForm.phone_number.$error">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i> 
                    Please enter contact number
                </div>
            </div>

            <ion-input class="item item-input item-select item-stacked-label"
                       ng-class="{ 'has-errors' : addForm.gender.$invalid && addForm.$submitted, 
        'no-errors' : addForm.gender.$valid && addForm.$submitted}">
                <ion-label class="input-label">Gender</ion-label>
                <select name="gender" id="gender" ng-model="data.gender" required>
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </ion-input>

            <div class="error-container" ng-show="addForm.gender.$error && addForm.$submitted" 
                 ng-messages="addForm.gender.$error">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i> 
                    Please select gender
                </div>
            </div>

            <ion-input class="item item-input item-stacked-label" 
                       ng-class="{ 'has-errors' : addForm.location.$invalid && addForm.$submitted, 
        'no-errors' : addForm.location.$valid && addForm.$submitted}">
                <div>
                    <ion-label class="float-left width-90">Location</ion-label>
                </div>
                <div style="clear:both"></div>
                <div>
                    <input type="text" name="location" id="location" googleplace="" class="float-left width-78" ng-model="data.location" required> <!--ng-keyup="getLocations()"-->
                    <input type="hidden" name="lat" id="lat" ng-model="data.lat" >
                    <input type="hidden" name="lng" id="lng" ng-model="data.lng">
                    <i class="icon ion-android-locate size-25" ng-click="getCurrentLocation()"></i>
                </div>
            </ion-input>

            <div class="error-container" ng-show="addForm.location.$error && addForm.$submitted" 
                 ng-messages="addForm.location.$error">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i> 
                    Please enter parlor location
                </div>
            </div>

            <ion-input class="item item-input item-stacked-label" >
                <ion-label>Summary</ion-label>
                <textarea name="summary" ng-model="data.summary" required></textarea>
            </ion-input>

            <ion-input class="item-input padding">
                <input type="submit" class="button button-positive" value="Save" 
                       ng-disabled="addForm.$invalid && addForm.$submitted">
            </ion-input>
        </form>
    </ion-content>
</ion-view>