<ion-view view-title="Home" name="home-view" class="homeBG" cache-view="false">
    <ion-header-bar class="bar-positive">
        <button class="button icon ion-chevron-left no-border" ng-click="myGoBack()"></button>
        <h1 class="title">Recently Viewed Saloons</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="padding">
        <div class="list margin-top-5" ng-repeat="saloon in saloons">
            <ion-item class="item-thumbnail-left">
                <img ng-if="saloon.MerchantImage.MerchantImage.image==''" src="img/profile.jpg" />
                <img ng-if="saloon.MerchantImage.MerchantImage.image!=''" src="{{saloon.MerchantImage.MerchantImage.image}}" />
                <div class="row">
                    <div class="col-50 left-align">{{saloon.Merchant.name}}</div>
                    <div class="col-50 right-align size-10">
                        <span ng-repeat="(k,type) in saloon.MerchantType">
                            <span ng-if="k > 0">,</span>{{type.MerchantType.name}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="size-10">{{saloon.Merchant.address}}</div>
                </div>
            </ion-item>
        </div>
    </ion-content>

</ion-view>
