<ion-view view-title="Home" name="home-view" class="homeBG" cache-view="false">
    <ion-header-bar class="bar-positive">
        <button class="button icon ion-chevron-left no-border" ng-click="myGoBack()"></button>
        <h1 class="title">Reviews</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="padding">
        <div class="list margin-top-5" ng-repeat="review in reviews">
            <ion-item class="item-thumbnail-left">
                <img ng-if="review.UserDetail.profile_picture==''" src="img/profile.jpg" />
                <img ng-if="review.UserDetail.profile_picture!=''" src="review.UserDetail.profile_picture" />
                <div class="row">
                    <div class="col-50 left-align">{{review.UserDetail.name}}</div>
                </div>
                <div class="row">
                    <div class="size-10">{{review.UserDetail.current_reviews}} Reviews, {{review.UserDetail.current_followers}} Followers</div>
                </div>
                <div class="row">
                    <div class="size-10">{{review.Review.created | date:'shortTime'}}</div>
                </div>
            </ion-item>
            <ion-item class="full-text">
                {{review.Review.review}}. 
            </ion-item>
        </div>
    </ion-content>

</ion-view>
