<ion-view title="Dashboard" cache-view="false">
    <ion-header-bar class="bar-positive">
        <button class="button icon ion-chevron-left no-border" ng-click="myGoBack()"></button>
        <h1 class="title">{{saloon.Merchant.name}}</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="padding">
        <ion-slide-box ng-if="saloon.MerchantImage.length>0">
            <ion-slide ng-repeat="image in saloon.MerchantImage">
                <img src="{{image.image}}" style="width:100%" />
            </ion-slide>
        </ion-slide-box>
        <div class="list margin-top-5">
            <ion-item>
                <div class="row">
                    <div class="col-50 left-align">{{saloon.Merchant.name}}</div>
                    <div class="col-50 right-align size-10">{{saloon.Merchant.current_rating}}</div>
                </div>
                <div class="row">
                    <div class="col-50 left-align size-10">{{saloon.Merchant.address}}</div>
                    <div class="col-50 right-align size-10"><span ng-repeat="type in saloon.MerchantType">{{type.name}}&nbsp;</span></div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-50 icon ion-calendar left-align size-13">
                        <span ng-repeat="(key,value) in saloon.MerchantWorkingDay">
                            <span ng-if="key==0">{{value.day}}</span> 
                            <span ng-if="key==(saloon.MerchantWorkingDay.length-1)"> - {{value.day}}</span>
                        </span></div>
                    <div class="col col-50 icon ion-clock right-align size-13"> {{saloon.Merchant.start_time | date:'shortTime'}} To {{saloon.Merchant.end_time | date:'shortTime'}}</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row full-text">
                    <i class="icon ion-location size-25"></i> &nbsp;&nbsp;{{saloon.Merchant.location}}
                </div>
                <div class="row margin-top-5">
                    <button class="button col col-50 ion-android-call" ng-click="call(saloon.Merchant.contact)"> &nbsp;&nbsp;Call</button>
                    <button class="button col col-50 ion-lock-combination" ng-click="goToPage('book-slot',saloon.Merchant.id)"> &nbsp;&nbsp;Book Slot</button>
                </div>
            </ion-item>
        </div>

        <div class="list margin-top-5">
            <ion-label><b>Offering</b></ion-label>
            <ion-item ng-repeat="products in saloon.MerchantOffering">
                <i class="icon ion-disc"></i> &nbsp;&nbsp;{{products.name}}
            </ion-item>
            <ion-item>
                <ion-label><b>Other Information</b></ion-label>
                <p>{{saloon.Merchant.other_information}}</p>
            </ion-item>
        </div>
    </ion-content>
    <ion-footer-bar ng-click="goToPage('reviews',saloon.Merchant.user_id)">
        <div class="row">
            <div class="col col-center text-center">
                <h4>Reviews</h4>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
